/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-present Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

.root {
  float: right;
  order: 1;
  height: 92px;
  display: flex;
  align-items: center;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
  font-size: 0.9em;
  /* ~18px */
}
.root> li {
  position: relative;
  height: 88px;
  margin: 0;
  display: flex;
  border-top: 5px solid transparent;
  align-items: center;
}
.root> li:hover {
  border-top: 5px solid #09a0f7;
}
li:hover .dropDown {
  display: block;
  position: absolute;
  top: 88px;
  left: 0;
  width: 110px;
  height: auto;
  background: #f1f1f1;
  padding: 5px 19px 15px;
}
.dropDown {
  display: none;
}
.link, .link:active, .link:visited {
  color: rgba(0, 0, 0, 0.6);
}
.link:hover {
  color: rgba(0, 0, 0, 1);
}
.highlight {
  margin: 0 20px;
  background: #09a0f7;
  color: #fff!important;
  height: auto;
  padding: 10px 30px;
  font-weight: 900;
  text-transform: uppercase;
}
.highlight:hover {
  background: rgba(0, 0, 0, 0.3);
}
.spacer {
  color: rgba(255, 255, 255, 0.3);
}
