/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-present Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

@import '../variables.css';
:root {
  --brand-color: #61dafb;
}
.logo {
  background: #f5f9fb;
  padding: 35px 30px;
}
.root {
  background: #333;
  color: #fff;
  position: relative;
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  z-index: 999;
}
.container {
  margin: 0 auto;
  padding: 0px 0;
  background: #fff;
  width: 80vw;
  min-width: 900px;
  position: absolute;
  top: 50px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1400px;
}
.brand {
  color: color(var(--brand-color) lightness(+10%));
  text-decoration: none;
  font-size: 1.75em;
  /* ~28px */
}
.brandTxt {
  margin-left: 10px;
}
.nav {
  float: right;
  margin-top: 6px;
}
.banner {
  text-align: center;
}
.bannerTitle {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  font-size: 4em;
  line-height: 1em;
}
.bannerDesc {
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25em;
  margin: 0;
}
