/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-present Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

.container {
  width: 100%;
  color: #333;
  background: url('/components/Carousel/background01.jpg');
  min-height: 600px;
  max-height: 90vh;
}

.slick-slide {
  height: 100%;
  position: relative!important;
  overflow: hidden;
}
.slideDestaqueHomeTop > div > div > div {
position: relative;
}


.slick-track {
  min-height: 600px;
  max-height: 90vh;
}
.slideDestaqueHomeTop {
  overflow: hidden;
  min-height: 600px;
  max-height: 90vh;
}
.slideDestaqueHomeTop img {
  width: 100%;
  margin: 0;
  padding: 0;
  margin: auto;
}
