.sliderHomeTopDetails {
  width: 580px;
  position: absolute;
  left: 90px;
  bottom: 170px;
  z-index: 9;
  height: auto;
  display: flex;
  padding: 10px;
  flex-direction: column;
}
.sliderHomeTopDetails .price::before {
  content: '';
  border-bottom: 0px solid transparent;
  border-top: 10px solid #09a0f7;
  border-left: 10px solid transparent;
  display: block;
  top: 35px;
  left: 35%;
  position: absolute;
  border-right: 10px solid transparent;
}
.sliderHomeTopDetails .price {
  color: #fff;
  position: relative;
  align-self: flex-end;
  background: #09a0f7;
  padding: 5px 10px;
  font-size: 1.2rem;
  font-weight: 900;
}
.sliderHomeTopDetails .title {
  background: #0074e1;
      padding: 20px 15px;
      color: #fff;
      font-size: 2rem;
      font-weight: 500;
}
.sliderHomeTopDetails .description {
  background: #0074e1;
      color: #fff;
      padding: 0px 20px 25px;
}

.buttonSliderTop {
  padding: 20px;
  width: 200px;
  background: #fff;
  border: none;
  color: #0074e1;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .5s;
}
.buttonSliderTop:hover {
  opacity: 0.8;
}
