/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-present Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

.root {
  width: 100%;
  height: 90px;
  background: #2e566e;
  position: relative;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}


.searchAutoInput {
  padding: 20px;
  color: #fff;
  cursor: pointer;
  border:1px solid #44728e;
  background: #2e566e;
}

.searchFormTop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.spaceInputs{
  background: #44728e;
  margin: 0px 30px;
  height: 50px;
  width: 1px;
}

.searchAutoButton {
  background: #09a0f7;
  padding: 15px 30px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  border:none;
  font-size: 1.2rem;
  transition: all .5s;
}
.searchAutoButton:hover {
  opacity: .8;
}
